/*Tailwind breaks setting the header defaults on purpose, so we'll make them classes*/
.h1 {
	font-size: 96px;
}

.h2 {
	font-size: 36px;
}

.h3 {
	font-weight: 700;
	font-size: 24px;
}

p {
	font-size: 16px;
}

.logo{
	padding-right: 17px
}

.code-logo{
	padding-top:8px
}

.news{
	margin-right:-20px
}

.use-cases{
	margin-right:10px
}

.use-entry{
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
.header{
	margin-top: 22px;
	padding-left: 42px;
	padding-right:30px;
	height: 55px;
	font-size: 20px;
}

.footer{
	height: 150px;
	font-size: 20px;
}

.red-gradient{
	background: linear-gradient(90deg, #A95131 0%, #292828 100%);
	mix-blend-mode: normal;
}

.use-explain{
	padding-left: 50%;
	font-family: Satoshi-Bold;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}

.use-explain-badge{
	margin-left: 10px;
	padding: 5px 15px 5px 15px;
	font-family: Satoshi-Black;
	font-size: 15px;
	font-weight: 900;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	background: #E0815145;
}